.main {
    :global {
        .img {
            width: 14px;
            height: 14px;
        }

        .left .img {
            margin-right: 7px;
        }
        .right .img {
            margin-left: 7px;
        }
    }
}