.canvas {
    :global {
        .img {
            background-color: var(--foreground);
            transition: 300ms background-color;
            -webkit-mask-size: contain;
            -webkit-mask-position: center;
            -webkit-mask-repeat: no-repeat;
        }
    }
}